---
import Tag from "../components/Tag.astro";
import BaseLayout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="flex justify-center">
    <img width="300" height="300" alt="RaccoonLaptopGif" src="/laptop.webp" />
  </div>
  <h2>{frontmatter.title}</h2>
  {
    frontmatter.platform && (
      <p>
        <Tag body="PLATFORM" />
        {frontmatter.platform}
      </p>
    )
  }
  {
    frontmatter.stack && (
      <p>
        <Tag body="STACK" />
        {frontmatter.stack}
      </p>
    )
  }
  {
    frontmatter.website && (
      <p>
        <Tag body="WEBSITE" />
        {frontmatter.website}
      </p>
    )
  }
  {
    frontmatter.github && (
      <p>
        <Tag body="GITHUB" />
        <a
          class="text-ctp-latte-red dark:text-ctp-mocha-red hover:underline"
          href={frontmatter.github}
          target="_blank"
        >
          {frontmatter.github}
        </a>
      </p>
    )
  }
  <div>
    {
      frontmatter.worksImage1 && (
        <img
          class="text-center mt-3 rounded-5"
          src={frontmatter.worksImage1.url}
        />
      )
    }
    {
      frontmatter.worksImage2 && (
        <img class="mt-3 rounded-5" src={frontmatter.worksImage2.url} />
      )
    }
  </div>
  <slot />
</BaseLayout>
